body{
    display: flex;
    min-height: 90vh;
}

#main{
    background-color: lightyellow;
    width: 600px;
    margin: auto;

    border: 1px solid black;
    text-align: center;
}

#logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#list-box{
    background-color: white;
    width: 85%;
    margin: auto;
    height: 200px;
    overflow-y: auto;

    border: 1px solid black;
    text-align: left;
}

.list-item{
    border-bottom: 1px solid black;
}

.url-col{
    width: 324px;
    word-break: break-all;

    padding: 7px 10px;
}

.data-col{
    width: 216px;
    text-align: right;
    padding-right: 7px;
}

.status{
    display: inline;
    background-color: lightpink;
    padding: 1px 5px 3px 5px;
}

.check-button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: lightblue;
    border: 1px solid black;
    padding: 3px 5px;
    margin: 3px;
}

.check-button:hover{
    cursor: pointer;
    background-color: rgb(124, 215, 246);
}

.delete-button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #ffc456;
    border: 1px solid black;
    padding: 3px 5px;
}

.delete-button:hover{
    cursor: pointer;
    background-color: #ffb22d;
}