<!DOCTYPE html>
<html>
<head>
    <title>Site Connectivity Checker</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="main">
        <h1 id="logo">Site Connectivity Checker</h1>

        <div id="list-box">
            {% if not urls %}
                <h1 id="no-url">NO CURRENT URLS</h1>
            {% endif %}

            {% for url in urls %}
                <form method="POST" class="list-item" value="{{url}}">
                <table border="1">
                <tr>
                    <td class="url-col">{{url}}</td>
                    <td class="data-col">
                        <p class="status">offline</p>
                        <button class="data-button" value="C">
                            Check
                        </button>
                        <button class="data-button" value="D">
                            Delete
                        </button>
                    </td>
                </tr>
                </table>
                </form>
            {% endfor %}

            <form method="post" class="add-url-form">
                <input type="text" class="added-url" placeholder="Enter a URL">
                <input type="submit" class="add-url-button" value="Add Website">
            </form>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="../static/index.js"></script>
</body>
</html>